/*Header*/
.uk-navbar {
	background: #fff!important;
}

ul.uk-navbar-nav a {
     color: #000000 ! important;
}

ul.uk-navbar-nav li.uk-active a {
     color: #107e8b ! important;
}

.tm-logo.uk-responsive-height {
    height: 216px ! important;
    margin-top: -60px;
    width: 231px ! important;
    margin-left: -40px;
    margin-right: 500px;
}

ul {
    list-style: none;
}
/*Social media*/
.sm-content {
    float:left; 
}

.sm-content li{
    display: inline-block;
    margin-right:`20px;
    margin-top: 35px;
}

.sm-content li a img{
	height: 46px;
	width: 46px;
}

/*Lid worden*/
.button {
	padding:15px 30px;
	background:#a0cd46;
	color:#fff;
	font-weight: bold;
	text-decoration: none;
}

.box-shadow {
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,.16);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,.16);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,.16);
	line-height: 20px;
}

#lid-worden {
margin-top: 45px;
margin-left: 70px;
display: inline-block;
font-size: 20px;
}

#lid-worden a:hover {
	color: #fff;
	text-decoration: underline;
}

/*Footer*/

.onderwerp-style {
	font-size: 25px;
	color: #a0cd46;
	font-weight: 700;
	font-style: italic;
}

li {
	color: white;
	font-style: italic;
	margin-bottom: 10px;
}

ul a:hover {
	font-weight: 600;
	text-decoration: underline;
	text-decoration-style: white;
}
